body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    padding-top: 5%;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 40%;
    padding-left: 5%;
}
.half-width img{
    width: 110%;
    padding-left: 2%;
    padding-right: 5%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(252, 186, 65), rgb(240, 115, 93), rgb(241, 169, 156));
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 40px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}



.my-dream-text{
    padding-top: 5%;
}
.half-width-2 img{
    width: 80%;
    padding-left: 11%;
}
.bottum-banner-text{
   width: 50%;
   margin-right: 5%;
   padding-left: 3%;
}
.button-banner{
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
background-size: 7.5%;
background-position-y: bottom;
}